<!DOCTYPE html>
<html>
<head>
  <link href="/style.css" rel="stylesheet">
  <script src="/app.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
<head>




<!-- <img src="/cat.jpg" alt="A Cute Cat" -->

<hr>

<a href = "/">Home</a>
<a href = "/about-me">About Me </a>
<%= yield %>

<hr>
Thank you for visiting!
<html>
