<h1>Star Trek Into Darkness</h1>
<hr>
<hr>
<body>
  My all time favorite Star Trek movie is "Into Darkness." Was it the first Star Trek movie that I've ever seen? Yes. Does that matter?
  Well yeah, sort of. You see, many die hard Trekkies abhor the movie. It's too "_," it's too "_," or it's too "" they say.
  I don't know, maybe it's all true. Maybe I really do have adult ADD (could explains multiple major declarations in college), maybe
  I am  . ; however, I just don't care. I fell in love with Star Trek because of that movie and I'm glad I did. I have since watched every
  movie produced--the highly acclaimed as well as the lesser-loved. And you know waht? I am still a huge fan. Of all of them. Perhaps
  I have poor taste in movies. Or maybe my optimism shields me from spotting flaws in a series I'm in love with. Either way, I will
  proudly wear my Star Trek paraphernalia while exhaulting; "OMG! Star Trek: Into Darkness was the best movie evaaaa!"
</body>
